body{
    background-color: black;
    color: white;
    padding: 0%;
    margin: 0%;
    font-family: 'Cabin', sans-serif;
    
}

.header{
    color: white;
}

.titulo{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.card-body{
    background-color:aqua;
}

#quienesSomos{
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.card-bg{
    background-color: black;
}

#destacados{
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

#contacto{
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

footer{
    background-color:aqua;
    height: 80px;
    font-weight: blod;
    font-size: 20px;
    text-align: end;  
    padding-top: 1em;  
    margin-right: 0px;  
}

#logos{
    margin-right: 0.5em;
}

/* boton para subir top */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: aqua; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }